/* Style global */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/* Toolbar */
.toolbar {
  background-color: #002249;
  color: white;
  padding: 1px 20px;
  text-align: center;
  font-size: 12px;
  font-weight:100;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0px 90px;
}

.navbar .logo {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.navbar .menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar .menu li {
  display: inline;
}

.navbar .menu li a {
  text-decoration: none;
  color: rgb(141, 141, 141);
  font-size: 15px;
  padding: 2px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.navbar .menu li a:hover {
  color: #3a3a3a;
  transform: scale(1.05);
}

/* Banner */
.banner {
  position: relative;
  text-align: center;
}

.banner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.banner .slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 36, 77);
  text-shadow: 2px 2px 5px rgb(211, 144, 0);
}

.banner .slogan h1 {
  font-size: 36px;
  margin: 0;
}

.banner .slogan p {
  font-size: 20px;
}

/* Section principale */
.main-content {
  padding: 80px 90px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Vue d'ensemble */
.overview {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 30%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

/* Accès rapide */
.quick-access {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.quick-access h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  background-color: #58a6ff;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.links a:hover {
  background-color: #2e85d6;
  transform: translateY(-3px);
}
